<div class="container">
  <h1>Welcome to Sorting Hat!</h1>
  <div class="movies">
    <p>Type in movies one by one</p>
    <form id="userMovieInput">
      <input id="movieTitle" type="text">
      <input id="submitMovie" type="submit" value="Add">
    </form>
    <button class="sort">Sort Me!</button>
    <ul class="movie-list"><ul>
  </div>
</div>
