<div class="container">
  <h1>Welcome to Sorting Hat!</h1>
  <div class="movies">
    <p>Type in movies one by one</p>
    <form id="userMovieInput">
      <input id="movieTitle" type="text"><br>
      <input id="submitMovie" type="submit" value="Add">
    </form>
    <button class="sort">Sort Me!</button>
    <ul class="movie-list"><ul>
  </div>
  <div id="house-jars">
    <div class="jar" id="slytherin"><img src="http://img2.wikia.nocookie.net/__cb20140405080843/harrypotter/ru/images/6/6c/Slytherin_crest_c00015_60925.gif" alt=""></div>
    <div class="jar" id="gryffindor"><img src="http://upload.wikimedia.org/wikipedia/vi/9/98/Gryffindor.jpg" alt=""></div>
    <div class="jar" id="hufflepuff"><img src="https://www.universalorlando.com/images/L_PINTRADING_Souvenirs_Pins_HarryPotter_Souvenirs_HufflepuffCrestMedallionPin_1230702.JPG" alt=""></div>
    <div class="jar" id="ravenclaw"><img src="http://images.wikia.com/harrypotter/images/b/bf/Ravenclaw_Crest.jpg" alt=""></div>
  </div>
</div>
