<div class="container">
  <h1>Welcome to Sorting Hat!</h1>
  <div class="movies">
  	<p>Type in movies one by one, or in a comma-separated list.</p>
  	<form autocomplete="on">
  		<input type="text" name="movies" value="Type in movies one by one, or in a comma-separated list.">
  	</form>
  </div>
</div>
