<div class="container">
  <h1>Welcome to Sorting Hat!</h1>
  <div class="movies">
    <p>Type in movies one by one, or in a comma-separated list.</p>
    <form id="userMovieInput" autocomplete="on">
      <input id="movieTitle" type="text" name="movie">
      <input id="submitMovie" type="submit" value="Add">
    </form>
    <form id = "sortByMovies">
      <input type = "submit" value = "Sort me!">
    </form>
  </div>
</div>
